@charset "UTF-8";

body {
  background-color: gray;
  margin: 0;
  font-size: 50px;
}

#layout01 {
  background-color: red;
  width: 300px;
  height: 200px;
  float: left;  /* 回り込み */
}

#layout02 {
  background-color: green;
  width: 300px;
  height: 200px;
  float: left;  /* 回り込み */
}

#layout03 {
  background-color: yellow;
  width: 600px;
  height: 200px;
  clear: both;  /* 回り込み解除 */
}