@charset "UTF-8";

body {
  background-color: gray;
  margin: 0;
  font-size: 50px;
}

#layout00 {
  width: 600px; /* 幅(px指定) */
  margin: 0 auto;  /* 余白の大きさ 中央寄せ(センタリング)) */
}

#layout01 {
  background-color: blue;
  width: 100%; /* 幅(％指定) */
  height: 200px;
}

#layout02 {
  background-color: red;
  width: 50%; /* 幅(％指定) */
  height: 200px;
  float: left;
}

#layout03 {
  background-color: green;
  width: 50%; /* 幅(％指定) */
  height: 200px;
  float: left;
}

#layout04 {
  background-color: yellow;
  width: 100%; /* 幅(％指定) */
  height: 200px;
  clear: both;
}